@import url('https://fonts.googleapis.com/css?family=Raleway');

@mixin flex-row() {
  display: flex;
  flex-direction: row;
};

@mixin flex-column() {
  display: flex;
  flex-direction: column;
};

@mixin page-margin() {
  margin-left: 12%;
}

$light-grey: #f8f7f7;

.app {
  // @include page-margin();
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.app-page {
  display: flex;
  flex-direction: row;
}

.app-content {
  @include page-margin();
  width: 100%;
  text-align: left;
  line-height: 1.3;
  margin-top: 100px;
  .app-content__projects {
    display: flex;
    flex-direction: column;

  }
  .app-content__header {
    width: 30%;
  }
  .app-content__tagline {
    width: 50%;
  }
  .app-content__projects-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right:13%;
    .app-content__projects-cards__card {
      margin: 0px 10px 10px 0px;
    }
  }
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  width: 60%;
  height:100%;
  .app-sidebar__card {
    align-self: center;
    width: 200px;
    height: 100px;
    margin: 30px;
    background: black;
    color: white;
  }
}

.app-nav {
  @include page-margin();
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 50px;
  color: #000;
  font-size: 1.2em;
  .app-nav__logo-name {
    font-size: 23px;
    font-weight: bold;
  }
  .app-nav__links {
    display: flex;
    flex-direction: row;
    li {
      list-style: none;
      margin-left: 10px;
    }
    li:nth-child(1) {
      margin-left: 0;
    }
  }
}

.app-footer {
  @include flex-row();
  align-items: baseline;
  background: $light-grey;
  color: #686868;
  margin-top: 75px;
  height: 100%;
  .app-footer__social-media {
    @include page-margin();
    @include flex-row();
    align-self: center;
    font-size: 1.2em;

    .social-media__link {
      margin-right: 20px;
      padding: 20px;
      border-bottom: solid 1px grey;
    }
    .social-media__link:last-child {
      margin-right: 0;
    }
  }
}

.app-contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 0 11.9%;
  margin-top: 100px;
  .app-contact__header {
    @extend .app-content__header;
  }
  .app-contact__tagline {
    width: 60%;
  }
  .app-contact__form {
    @include flex-column();
    flex-wrap: wrap;
    width: 100%;
    .form__input {
      margin-right: 50px;
    }
    .app-contact__form__submit {
      @include flex-row();
      justify-content: flex-end;
      width: 97.3%;

    }
    .form__btn {
      width: 220px;
      height: 40px;
      font-weight: 900;
    }
  }
}

.app-content__about {
  @extend .app-content__projects;
  margin: 0 12% 0 0;
}

.app-content__profile {
  @include flex-row();

  .profile__summary {
    @extend .app-content__profile;
    p {
      margin-right: 20%;
    }
  }

}

.project-card {
  margin-bottom: 20px;
  font-size: 14px;
  height: 200px;
  width: 300px;
  .project-card__inner-contents {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 1.5s;
  }
  .front {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibilty: hidden;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .back {
    border: #DFDEDE solid 2px;
    height: 85%;
    width: 88%;
    position: absolute;
     -webkit-backface-visibility: hidden;
    backface-visibilty: hidden;
    transform: rotateY(-180deg);
    padding: 15px;
  }
}

.app-content__projects--resize {
  width: 20%;
}
.project-card:hover .project-card__inner-contents {
  transform: rotateY(-180deg);
}


@media (max-width: 1200px) {
  .app-sidebar {
    display: none;
  }
  .project-card__inner-contents {
    transition: 0.5s;
  }
  .app-content__projects-cards {
    width: 70%;
  }
  .app-content__projects-cards__card {
    margin-right: 0;
  }

}

@media (max-width: 600px) {
  .form__btn {
    margin-right: 5px;
  }
  .app-content__profile {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .app-content__projects-cards {
    width: 100%;
  }
  .form__btn {
    margin-right: 8px;
  }
}
