@import url('https://fonts.googleapis.com/css?family=Raleway');

@mixin flex-row() {
  display: flex;
  flex-direction: row;
};

@mixin flex-column() {
  display: flex;
  flex-direction: column;
};

@mixin page-margin() {
  margin-left: 12%;
}

$light-grey: #f8f7f7;

.app {
  // @include page-margin();
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.app-page {
  display: flex;
  flex-direction: row;
}

.app-content {
  @include page-margin();
  width: 100%;
  text-align: left;
  line-height: 1.3;
  margin-top: 100px;
  .app-content__projects {
    display: flex;
    flex-direction: column;

  }
  .app-content__header {
    width: 30%;
  }
  .app-content__tagline {
    width: 50%;
  }
  .app-content__projects-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;;
    .app-content__projects-cards__card {
      margin: 0px 10px 10px 0px;
    }
  }
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  width: 60%;
  height:100%;
  .app-sidebar__card {
    align-self: center;
    width: 200px;
    height: 100px;
    margin: 30px;
    background: black;@extend .app-content__tagline;
    color: white;
  }
}

.app-nav {
  @include page-margin();
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 50px;
  color: #000;
  font-size: 1.2em;
  .app-nav__logo-name {
    font-size: 23px;
    font-weight: bold;
  }
  .app-nav__links {
    display: flex;
    flex-direction: row;
    li {
      list-style: none;
      margin-left: 10px;
    }
    li:nth-child(1) {
      margin-left: 0;
    }
  }
}

.app-footer {
  @include flex-row();
  align-items: baseline;
  background: $light-grey;
  color: #686868;
  margin-top: 75px;
  height: 100%;
  .app-footer__social-media {
    @include page-margin();
    @include flex-row();
    align-self: center;
    font-size: 1.2em;

    .social-media__link {
      margin-right: 20px;
      padding: 20px;
      border-bottom: solid 1px grey;
    }
    .social-media__link:last-child {
      margin-right: 0;
    }
  }
}

.app-contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 0 11.9%;
  margin-top: 100px;
  .app-contact__header {
    @extend .app-content__header;
  }
  .app-contact__tagline {
    width: 60%;
  }
  .app-contact__form {
    @include flex-column();
    flex-wrap: wrap;
    width: 100%;
    .form__input {
      margin-right: 50px;
    }
    .app-contact__form__submit {
      @include flex-row();
      justify-content: flex-end;
      width: 97.3%;

    }
    .form__btn {
      width: 220px;
      height: 40px;
      font-weight: 900;
    }
  }
}

.app-content__about {
  @extend .app-content__projects;
  margin: 0 12% 0 0;
}

.app-content__profile {
  @include flex-row();

  .profile__summary {
    @extend .app-content__profile;
    p {
      margin-right: 20%;
    }
  }

}

.project-card {
  border: #DFDEDE solid 2px;
  padding: 10px;
  margin: 0 15px 15px 0;
  font-size: 14px;
  .project-card--img {
    width: 250px;
    height: 120px;

  }
}


@media (max-width: 1200px) {
  .app-sidebar {
    display: none;
  }
  .app-content__projects-cards__card:nth-child(3n) {
    margin-right: 0;
  }

}

@media (max-width: 600px) {
  .form__btn {
    margin-right: 5px;
  }
  .app-content__profile {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .form__btn {
    margin-right: 8px;
  }
}
