@import url('https://fonts.googleapis.com/css?family=Raleway');
@import 'Contact.scss';

@mixin flex-row() {
  display: flex;
  flex-direction: row;
};

@mixin page-margin() {
  margin-left: 12%;
}

.app {
  // @include page-margin();
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;

}

.app-page {
  display: flex;
  flex-direction: row;
}

.app-content {
  @include page-margin();
  width: 100%;
  text-align: left;
  line-height: 1.3;
  margin-top: 100px;
  .app-content__projects {
    display: flex;
    flex-direction: column;

  }
  .app-content__header {
    width: 30%;
  }
  .app-content__tagline {
    width: 50%;
  }
  .app-content__projects-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .app-content__projects-cards__card {
      margin: 0px 10px 10px 0px;
    }
  }
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  width: 60%;
  height:100%;
  .app-sidebar__card {
    align-self: center;
    width: 200px;
    height: 100px;
    margin: 30px;
    background: black;@extend .app-content__tagline;
    color: white;
  }
}

.app-nav {
  @include page-margin();
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 50px;
  color: #000;
  font-size: 1.2em;
  .app-nav__logo-name {
    // align-self: center;
    font-weight: bold;
  }
  .app-nav__links {
    display: flex;
    flex-direction: row;
    li {
      list-style: none;
      margin-left: 10px;
    }
    li:nth-child(1) {
      margin-left: 0;
    }
  }
}

.app-footer {
  @include flex-row();
  align-items: baseline;
  background: #f1f1f1;
  color: #686868;
  margin-top: 75px;
  height: 100%;
  .app-footer__social-media {
    @include page-margin();
    @include flex-row();
    align-self: center;
    font-size: 1.6em;
    .social-media__link {
      margin-right: 20px;
    }
    .social-media__link:last-child {
      margin-right: 0;
    }
  }
}

.app-contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 11.8%;
  margin-top: 100px;
  .app-contact__header {
    @extend .app-content__header;
  }
  .app-contact__tagline {
    width: 60%;
  }
  .app-contact__form {
    // @include flex-row();
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap-reverse;
    }
    input {
      width: 100%;
    }
  }
}

.row {
  @include flex-row();
}

@media (max-width: 1200px) {
  .app-sidebar {
    display: none;
  }
  .app-content__projects-cards__card:nth-child(3n) {
    margin-right: 0;
  }

}
